.imageContainer {
    width: 100%;
    height: 190%;
    margin-top: 5%;
    justify-content: space-around;
}

.mysqlImage {
    position: relative;
    width: 10rem;
    margin-left: -15%;
}

.mongoImage {
    position: relative;
    width: 10rem;
    margin-left: 198px;
}